*,::after,::before {
    box-sizing:border-box
}

.App {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    letter-spacing: -0.25px;
    user-select: none;
}

.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}

.main-content .title {
    font-weight: 800;
    font-size: 36px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-15 {
    margin-bottom: 15px;
}

.temp {
    font-size: 220px;
    font-weight: 700;
    letter-spacing: -15px;
}

.temp span{
    letter-spacing: initial;
}

.text-left{
    justify-content: flex-start;
    text-align: left;
}

.humidity{
    display: inline-flex;
    align-items: center;
    color: #dcdcdc;
    font-size: 20px;
}

.humidity img{
    margin-right: 4px;
}

.humidity span{
    opacity: 0.7;
}

.temp span {
    font-size: 23px;
    color: #ddd;
}

.cold {
    background: #1c88c2;
    color: white;
}

.spring {
    background: #20cb53;
    color: white;
}

.hot {
    background: #ff2f00;
    color: white;
}

footer{
    margin-top: 150px;
    font-size: 10px;
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 10px;
    color: #dadada;
    margin-right: 12px;
}

footer a img{
    margin-right: 6px;
}

@media all and (max-width: 768px) {
    .main-content {
        text-align: center;
        width: 100%;
    }

    .main-content .temp{
        font-size: 125px;
        letter-spacing: -5px;
    }

    .main-content .temp span{
        font-size: 15px;
        margin-left: 5px;
    }

    .w-100 {
        max-width: 100%;
    }

    footer{
        flex-direction: column;
    }

    .meteo{
        margin-top: 16px;
    }
}